<div class="session row pt-5 mr-0 justify-content-center">
  <div class="game-view row">
    <div class="left-side col-md-8">
      <div class="top-side col-md-12">
        <% Dotenv.load %>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=10&size=800x400&markers=size:small%7Ccolor:red%7C#{@game.city}&key=#{ENV["google_api"]}", alt: "Map", class: "map" %>
      </div>
      <div class="bot-side mt-3 col-md-12">
        <% if @game.date %>
          <span class="date col-md-12"><%= @game.date.strftime('La prochaine rencontre se déroulera à %H:%M le %d:%b:%Y')%></span>
        <% end %>
        <% if current_user == @game.creator %>
          <%= form_for @session, url: "/adventure/#{@game.id}", method: :put do |f| %>
            <div class="">
              <%= f.datetime_select :date, :order => [:day, :month, :year], class: 'form-control' %>
            </div>
            <%= f.submit 'Ajouter un rendez-vous'%>
          <% end %>
          <%= link_to "Fin du rendez-vous", "/adventure/end_day/#{@game.id}", method: :post %>
        <% end %>
      </div>
    </div>
    <div class="right-side col-md-4 mt-3">
      <div class="col-md-12">
        <div class="row select-charac align-items-center">
            <div class="col-md-7">
              <select class="col-md-12 mt-2 select-custom" id="characters_select">
                <option value="gm"><%= @gm.pseudo %> (Maitre du Jeu)</option>
                <% @characters.each do |char|%>
                  <option value="<%= char.id %>"><%=char.pseudo%></option>
                <%end%>
              </select>
            </div>
              <% if user_signed_in? %>
                <% if User.find(current_user.id).roles.find_by(game_session: @game) %>
                  <div class="alert mt-0 mb-0 alert-success">
                    Joined
                  </div>
                <% else %>
                  <%= form_for @new_charac, url: '/adventure/character', html: { class: "mt-0 mb-0" } do |f| %>
                    <input type="hidden" name="game_session" value="<%= @game.id %>">
                    <button class="btn btn-dark">Rejoindre</button>
                  <% end %>
                <% end %>
              <% end %>
          </div>
      </div>
      <div id="info-charach" class="col-md-12">
      </div>
      <div id="prim-specs" class="col-md-12">
      </div>
      <div id="sec-specs" class="col-md-12">
      </div>
      <div id="inv-charac" class="col-md-12">
      </div>
      <div id="link-profile" class="col-md-12">
      </div>
    </div>
  </div>
</div>
