<div id="list_game_session">
  <% @game_sessions.each do |game| %>
    <div class="row justify-content-around">
      <div>
        <%= game.title %>
      </div>
      <div>
        <%= game.roleplay %>
      </div>
      <div>
        <%= game.city %>
      </div>
      <div>
        <%= Role.find_by(game_session: game).count %>/<%= game.players_limit %>
      </div>
    </div>
  <% end %>
</div>
