<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
  <!-- header-container start -->
  <div class="header-container">
    <!-- header-top start -->
    <!-- classes:  -->
    <!-- "dark": dark version of header top e.g. class="header-top dark" -->
    <!-- "colored": colored version of header top e.g. class="header-top colored" -->
    <!-- ================ -->
    <div class="header-top">
      <div class="dropdown">
        <a class="dropbtn"><%= image_tag "avatar.png", class:"avatar" %></a>
        <div class="dropdown-content">
          <a href="#">Se connecter</a>
          <a href="#">S'enregistrer</a>
        </div>
      </div>
    </div>
    <header class="header dark fixed fixed-desktop clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-auto hidden-md-down">
            <div class="col-lg-10 ml-auto">
              <div class="header-second clearfix">
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <ul class="navbar-nav ml-xl-auto">
                        <li>
                          <%= link_to "Les Univers", roleplay_index_path, class: "nav-link"  %>
                        </li>
                    <!-- mega-menu start -->
                        <li>
                          <%= link_to root_path do %>
                            <%= image_tag "logo2.png", class: "logo_nav" %>
                          <% end %>
                        </li>
                    <!-- mega-menu end -->
                        <li>
                          <%= link_to "Partir à l'aventure", root_path, class: "nav-link"  %>
                        </li>
                      </ul>
                  <!-- main-menu end -->
                    </div>
                  </nav>
                </div>
            <!-- main-navigation end -->
              </div>
            <!-- header-second end -->

          </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
    </div>
