<div class="jdr-background pt-5">
  <%compter = 0%>
  <%@roleplay.each do |r|%>
  <%if compter == 0%>
  <div class="main col-md-12 pt-5">
    <div class="card card-universe col-9 shadow border border-light">
      <div class="col-lg-5 RP">
        <img src="https://s3.eu-west-3.amazonaws.com/adopte-un-roliste/914y5GhPeEL.png" alt="<%=r.name%> image" class="pic border" >
      </div>
      <div class="col-lg-7 RPcontent">
        <h3 class="title"><%=r.name%></h3>
        <p class="p"><%=r.description%></p>
      </div>
    </div>
  </div>
  <%elsif compter %2 == 0 && compter > 0 %>
  <div class="main col-md-12 mt-5">
    <div class="card card-universe col-9 shadow border border-light">
      <div class="col-lg-5 RP">
        <img src="<%=r.roleplay_image%>" alt="<%=r.name%> image" class="pic border" >
      </div>
      <div class="col-lg-7 RPcontent">
        <h3 class="title"><%=r.name%></h3>
        <p class="p"><%=r.description%></p>
      </div>
    </div>
  </div>
  <%else%>
  <div class="main1 col-md-12 mt-5">
    <div class="card card-universe offset-3 col-9 shadow border border-light">
      <div class="col-lg-5 RP">
        <img src="<%=r.roleplay_image%>" alt="<%=r.name%> image" class="pic border" >
      </div>
      <div class="col-lg-7 RPcontent">
        <h3 class="title"><%=r.name%></h3>
        <p class="p"><%=r.description%></p>
      </div>
    </div>
  </div>
  <%end%>
  <%compter += 1%>
  <%end%>
</div>
