<div class="profile">
  <section class="">
    <% if user_signed_in? %>
    <% if current_user.id == @user.id  %>
    <%= link_to "Supprimer profil", edit_user_registration_path, class: "btn btn-group btn-default btn-animated float-right d-flex order-1"%> </br>
    <% end %>
    <% end %>
    <div class="row justify-content-center">
      <h1 class="title large mt-5"><span class="text-default">Profil de </span><%=@user.pseudo%></h1>
    </div>

    <div class="separator"></div>

    <% if user_signed_in? %>
    <% if current_user.id == @user.id %>
    <%= link_to "Editer", edit_user_registration_path, class: "btn btn-group btn-default btn-animated float-right"%>
    <% end %>
    <% end %>
    <%if @user.description%>
    <p class="large ml-5 desc"><%= @user.description%></p>
    <%else%>
    <p class="large ml-5">Editer pour modifier.</p>
    <%end%>

    <div class="separator"></div>
    <!-- timeline grid start -->
    <!-- ================ -->
    <div class="timeline margin-clear clearfix">
      <%compter = 0%>
      <% @user.game_sessions.each do |session| %>
      <%if compter % 2 == 0%>
      <!-- timeline grid item start -->
      <div class="timeline-item">
        <div class="white-bg hc-shadow p-20 text-center hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
          <% if session.roles.find_by(user_id: @user.id).game_master != 'f' %>
          <div class="margin-clear clearfix greenblock">Game Master</div>
          <% else %>
          <%if session.characters.where(user_id: @user.id)%>
          <div class="align-items-center margin-clear clearfix redblock"><%= session.characters.find_by(user_id: @user.id).pseudo %><br>Niveau <%= session.characters.find_by(user_id: @user.id).level %></div>
          <%end%>
          <%end%>
          <h3 class="mt-4 ses-title"><%= session.title%></h3>
          <div class="separator"></div>
          <p><%= session.description%></p>
          <% if user_signed_in? %>
          <% if current_user.id == @user.id  %>
          <% if session.roles.find_by(user_id: @user.id).game_master == 'f'  && !@user.characters.find_by(game_session: session) %>
          <select class="form-control char-selecter col-md-6" name="character[pseudo]">
            <%if @user.characters.find_by(game_session_id: nil,roleplay_id: session.roleplay_id)%>
            <%@user.characters.where(game_session_id: nil,roleplay_id: session.roleplay_id).each do |char|%>
            <option><%=char.pseudo%> - <%= char.level%></option>
            <%end%>
            <%end%>
          </select>
          <% end %>
          <% end %>
          <% end %>
          <a href="/adventure/<%=session.id%>">Entrer</a>
        </div>
      </div>
      <!-- timeline grid item end -->
      <% else %>
      <!-- timeline grid item start -->
      <div class="timeline-item pull-right">
        <div class="white-bg hc-shadow p-20 text-center hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
          <% if session.roles.find_by(user_id: @user.id).game_master != 'f' %>
          <div class="margin-clear clearfix greenblock">Game Master</div>
          <% else %>
          <%if session.characters.where(user_id: @user.id)%>
          <div class="margin-clear clearfix redblock"><%= session.characters.find_by(user_id: @user.id).pseudo %><br>Niveau <%= session.characters.find_by(user_id: @user.id).level %></div>
          <% end %>
          <%end%>
          <h3 class="mt-4 ses-title"><%= session.title%></h3>
          <div class="separator"></div>
          <p><%= session.description%></p>
          <% if user_signed_in? %>
          <% if current_user.id == @user.id  %>
          <% if session.roles.find_by(user_id: @user.id).game_master == 'f'  && !@user.characters.find_by(game_session: session) %>
          <select class="form-control char-selecter col-md-6" name="character[pseudo]">
            <%if @user.characters.find_by(game_session_id: nil,roleplay_id: session.roleplay_id)%>
            <%@user.characters.where(game_session_id: nil,roleplay_id: session.roleplay_id).each do |char|%>
            <option><%=char.pseudo%> - <%= char.level%></option>
            <%end%>
            <%end%>
          </select>
          <% end %>
          <% end %>
          <% end %>
          <a href="/adventure/<%=session.id%>">Entrer</a>
        </div>
      </div>
      <!-- timeline grid item end -->
      <% end %>
      <%compter += 1%>
      <% end %>
    </div>
    <!-- timeline grid end -->
  </section>
  <!-- section end -->
  <section class="">
    <%charac_count = 0%>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @user.characters.each do |character| %>
        <%if charac_count == 0%>
        <div class="carousel-item active pl-5 pt-5">
          <h2><%=character.pseudo%> - niveau <%=character.level%></h2>
          <% if character.game_session %>
          <p class="session-card row justify-content-center">Session de jeu en cours : <%=character.game_session.title%></p>
          <% else %>
          <p class="session-card"></p>
          <% end %>
          <div class="row">
            <div class="primary-specs">
              <h5 class="Bold">Caractéristique principale :</h5>
              <%character.primary_specs.each do |prim|%>
              <span class="pl-5"><%=prim.name%> : <%=prim.value%></span> <br>
              <%end%>
            </div>
            <div class="secondary-specs">
              <h5 class="Bold">Caractéristique secondaire :</h5>
              <%character.secondary_specs.each do |sec|%>
              <span class="pl-5"><%=sec.name%> : <%=sec.value%></span> <br>
              <%end%>
            </div>
            <div class="inventory">
              <h5 class="Bold">Inventaire :</h5>
              <%character.inventories.each do |inv|%>
              <span class="pl-5"><%=inv.name%></span> <br>
              <%end%>
            </div>
          </div>
          <img class="d-block w-100" alt="<%charac_count%>">
        </div>
        <% else %>
        <div class="carousel-item pl-5 pt-5">
          <h2><%=character.pseudo%> - niveau <%=character.level%></h2>
          <% if character.game_session %>
          <p class="session-card row justify-content-center">Session de jeu en cours : <%=character.game_session.title%></p>
          <% else %>
          <p class="session-card"></p>
          <% end %>
          <div class="row">
            <div class="primary-specs">
              <h5 class="Bold">Caractéristique principale :</h5>
              <%character.primary_specs.each do |prim|%>
              <span class="pl-5"><%=prim.name%> : <%=prim.value%></span> <br>
              <%end%>
            </div>
            <div class="secondary-specs">
              <h5 class="Bold">Caractéristique secondaire :</h5>
              <%character.secondary_specs.each do |sec|%>
              <span class="pl-5"><%=sec.name%> : <%=sec.value%></span> <br>
              <%end%>
            </div>
            <div class="inventory">
              <h5 class="Bold">Inventaire :</h5>
              <%character.inventories.each do |inv|%>
              <span class="pl-5"><%=inv.name%></span> <br>
              <%end%>
            </div>
          </div>
          <img class="d-block w-100" alt="<%charac_count%>">
        </div>
        <%end%>
        <%charac_count += 1%>
        <%end%>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <% if user_signed_in? %>
    <% if current_user.id == @user.id  %>
    <%= link_to "Nouveau personnage", new_character_path, class: "btn btn-group btn-default btn-animated" %>
    <%= link_to "Editer personnage", new_character_path, class: "btn btn-group btn-default btn-animated" %>
    <%= link_to "Supprimer personnage", new_character_path, class: "btn btn-group btn-default btn-animated" %>
    <% end %>
    <% end %>
  </section>
  <div class="comments row pb-5">
    <div class="card card-comments col-md-3 mt-5">
      <div class="card-body">
        <h3 class="com-sender col-md-12">Laissez lui un commentaire !</h3>
        <span class="com-content row col-md-12">
          <%= form_for @comment, url: comments_path, html: {class: "com_form"} do |f| %>
          <%= f.hidden_field :recipient, value: @user.id %>
          <%= f.text_area :content, size: "50x4" %>
          <%= f.submit "Create" %>
          <% end %>
        </span>
      </div>
    </div>
    <%@comments.each do |com|%>
    <div class="card card-comments col-md-3 mt-5">
      <div class="card-body">
        <h3 class="com-sender col-md-12">De <%=com.sender.pseudo%></h3>
        <span class="com-content row col-md-12"><%=com.content%></span>
      </div>
    </div>
    <%end%>
  </div>
</div>
